.projectCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projectCardContainerLink {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titleProjectCard {
  padding-top: 40px;
  font-size: 30px;
  line-height: 35px;
  color: var(--black);
  transition: 0.3s;
  cursor: pointer;
}

.projectCardContainer:hover .titleProjectCard {
  color: var(--blue);
  transition: 0.3s;
}

.backgroundProjectCard {
  width: 100%;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  transition-delay: 0.1s;
}

.projectCardContainer:hover .backgroundProjectCard {
  transform: scale(0.92);
  transition: 0.4s;
  transition-delay: 0.1s;
}

.projectCardContainer:hover .photoProjectCard {
  transform: rotateY(-180deg) rotateZ(-15deg);
  transition: 1s;
  transition-delay: 0.1s;
}

.photoProjectCard {
  transition: 1s;
  transition-delay: 0.1s;
}

.categoriesProjectCardWrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.categoriesProjectCard {
  font-family: 'Gilroy Light';
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
  transition: 0.3s;
  cursor: pointer;
}

.categoriesProjectCard:hover {
  color: var(--blue);
  transition: 0.3s;
}
