.wantToCollaborateConatainer {
  width: 100%;
  height: 490px;
  background-color: var(--dark-blue);
  margin-top: 200px;
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;
}

.wantToCollaborateHeadingWrapper {
    display: flex;
    gap: 15px;
    z-index: 2;
}

.wantToCollaborateHeading {
  font-family: "Gilroy Medium";
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: var(--white);
}

.wantToCollaborateLink {
  font-family: "Gilroy Medium";
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.wantToCollaborateContactInfoWrapper {
    display: flex;
    margin-top: 100px;
    z-index: 2;
}

.wantToCollaborateContactContainer {
    width: 400px;
}

.wantToCollaborateArrowsBackground {
    position: absolute;
	bottom: 85px;
	right: -160px;
}
