.headingWrapper {
    margin-top: 120px;
}

.subtitleWrapper {
    margin-top: 320px;
    margin-bottom: 150px;
}

.maxWidthWrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.backgroundFooter {
    background-color: var(--dark-blue);
}