.blogCardContainer {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.titleBlogCard {
  margin-top: 20px;
  color: var(--black);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.titleBlogCard:hover {
    color: var(--blue);
    transition: .3s;
}

.photoBlogCard {
  width: 350px;
  height: 300px;
  background-color: #ccc;
}

.categotyBlogCard {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--blue);
  cursor: pointer;
  transition: .3s;
}

.categotyBlogCard:hover {
    transition: .3s;
    color: var(--black);
}

.creationDateBlogCard {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: var(--black);
}

.categoryDateBlogCardWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
